@font-face {
  font-family: "Corporate A";
  src: url("/fonts/corporate-a-bq.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Corporate A";
  src: url("/fonts/Corporate-A-BQ-Bold.ttf");
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-corporate;
}
